<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ 'Atur Ulang Kata Sandi Anda' if current_lang == 'id' else 'Reset
      Password' }}
    </title>
    <!-- Tailwind CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/output.css') }}"
    />
  </head>
  <body class="font-sans bg-gray-100 m-0 p-0 flex justify-center items-center">
    <div
      class="bg-white p-10 md:px-16 rounded-[12px] shadow-lg w-full max-w-[40rem] mt-32"
    >
      <h1
        class="text-center text-gray-800 mb-24 text-1xl md:text-3xl font-semibold"
      >
        {{ 'Atur Ulang Kata Sandi Anda' if current_lang == 'id' else 'Reset Your
        Password' }}
      </h1>

      <div
        id="errorMessage"
        class="text-red-600 text-center text-lg font-semibold my-6 hidden"
      ></div>

      <!-- Flash message Start -->
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div
        class="mb-4 p-4 rounded-md text-white bg-{{ 'green' if category == 'success' else 'red' }}-500"
      >
        {{ message | e }}
      </div>
      {% endfor %} {% endif %} {% endwith %}
      <!-- Flash message End -->

      <form id="resetPasswordForm">
        <div class="mb-8">
          <label for="newPassword" class="block mb-2 text-xl text-gray-800"
            >{{ 'Masukkan Kata Sandi Baru' if current_lang == 'id' else 'Enter
            New Password' }}</label
          >
          <input
            type="password"
            id="newPassword"
            name="newPassword"
            placeholder="{{ 'Masukkan Kata Sandi Baru' if current_lang == 'id' else 'Enter New Password' }}"
            required
            class="w-full p-3 text-[1rem] border border-gray-300 rounded-md outline-none box-border"
          /><br />
          <span class="text-[0.8rem]" id="strengthIndicator"
            >{{ 'Kata sandi lemah' if current_lang == 'id' else 'Weak password'
            }}</span
          >
        </div>
        <div class="mb-8">
          <label for="confirmPassword" class="block mb-2 text-xl text-gray-800"
            >{{ 'Konfirmasi Kata Sandi' if current_lang == 'id' else 'Confirm
            Password:' }}</label
          >
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="{{ 'Konfirmasi Kata Sandi' if current_lang == 'id' else 'Confirm Password' }}"
            required
            class="w-full p-3 text-[1rem] border border-gray-300 rounded-md outline-none box-border"
          /><br />
        </div>
        <button
          type="submit"
          class="w-full bg-green-600 hover:bg-green-700 text-white text-xl font-semibold py-3 px-5 rounded-lg transition"
        >
          {{ 'Atur Ulang Kata Sandi' if current_lang == 'id' else 'Reset
          Password' }}
        </button>
      </form>
    </div>

    <script src="{{ url_for('static', filename='js/reset_password.js') }}"></script>
  </body>
</html>
